.footer {
    background-color: #c5d5c5;
    color: #3d3d3d;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerLinks {
    color: #3d3d3d;
    margin-top: 3vh;
    text-decoration: none;
    font-size: 2.5vh;
}